@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        font-family:'Poppins', sans-serif;
        /* overflow: hidden; */
    }
}

@layer components{
  .sidebar-section-title {
    @apply text-white uppercase font-semibold tracking-wider;
  }

  .sidebar-section-items-wrapper{
    @apply flex flex-col
  }

  .sidebar-wrapper {
    @apply flex flex-col gap-2 mt-4
  }

  .sidebar-seperator {
    @apply border-gray-1000 border rounded-xl opacity-90
  }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px; /* Set the width of the scrollbar */
      }
      
      .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent; /* Background color of the track */
      }
      
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3); /* Color of the scrollbar thumb */
        border-radius: 4px; /* Rounded corners for the thumb */
      }
      
      .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.5); /* Color of the thumb on hover */
      }
      
      .custom-scrollbar::-webkit-scrollbar-thumb:active {
        background: rgba(255, 255, 255, 0.7); /* Color of the thumb when active (clicking) */
      }

    .comment-actions{
      /* text-white px-6 py-2 flex items-center gap-2 */
      @apply text-white px-6 py-2 flex items-center gap-2;
    }
}